.o_field_pdf_viewer,
.o_pdf_viewer {
  min-height: 800px;
}

.o_list_view .btn-link.p-0 {
  line-height: 1;      /* tighter vertical alignment */
}
.o_list_view .fa {
  font-size: 14px;     /* small icons like your screenshot */
}


.o_list_view .o_data_row a:not(.o_list_record_selector),
.o_kanban_view .o_kanban_record a {
  pointer-events: none;
  text-decoration: none;
}