<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <!-- Main Menu -->
    <menuitem id="menu_custom_document_root" 
              name="Documents" 
              sequence="5"
              web_icon="custom_documents,static/description/icon.png"/>
    
    <!-- All Documents Menu -->
    <menuitem id="menu_custom_documents" 
              name="All Documents" 
              parent="menu_custom_document_root" 
              action="action_custom_document" 
              sequence="10"/>



    <menuitem id="menu_custom_document_folders" 
              name="Manage Folders" 
              parent="menu_custom_document_root" 
              action="action_custom_document_folder_manage" 
              sequence="45"/>
    

    


    
    <!-- Configuration Menu -->
    <menuitem id="menu_custom_document_config" 
              name="Configuration" 
              parent="menu_custom_document_root" 
              sequence="100"
              groups="base.group_system"/>
</odoo>