<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <!-- Main Menu -->
    <menuitem id="menu_custom_document_root" 
              name="Documents" 
              sequence="5"
              web_icon="custom_documents,static/description/icon.png"/>
    
    <!-- Documents Menu -->
    <menuitem id="menu_custom_documents" 
              name="All Documents" 
              parent="menu_custom_document_root" 
              action="action_custom_document" 
              sequence="10"/>
    
    <!-- Upload Document Menu -->
    <menuitem id="menu_custom_document_upload" 
              name="Upload Document" 
              parent="menu_custom_document_root" 
              action="action_custom_document_upload_wizard" 
              sequence="15"/>


    
    <!-- Folders Menu -->
    <menuitem id="menu_custom_document_folders" 
              name="Folders" 
              parent="menu_custom_document_root" 
              action="action_custom_document_folder" 
              sequence="20"/>
    
    <!-- Configuration Menu -->
    <menuitem id="menu_custom_document_config" 
              name="Configuration" 
              parent="menu_custom_document_root" 
              sequence="100"/>
</odoo>